.button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.25s linear;
}

.primary {
  background: linear-gradient(to bottom right, #6eb7ff, var(--blue-button));
}

.primary:hover {
  background: var(--blue-button)
}


.green {
  background: linear-gradient(to bottom right, #51ff9a, var(--green));
}

.green:hover {
  background: var(--green)
}