.body-container {
    width: 90%;
    margin-inline: auto;
    margin-top: 100px;
}

.body-container h1 {
    text-align: center;
    font-size: 2.6em;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.tabs h2 {
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 6px 18px;
}

.tabs h2:hover {
    transform: scale(1.075);
}

.tabs h2.active {
    background-color: #fefefe;
    border-radius: 25px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;
    transform: scale(1.1);
}

.tabs h2.active:hover {
    transform: scale(1.125);
}

.body-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.body-container .title .date {
    font-size: 0.7em;
    color: #2B3D4F;
    display: flex;
    gap: 5px;
}

.date-input {
    font-size: 1em;
    color: #2B3D4F;
    border: none;
    background: transparent;
    cursor: text;
    text-align: left;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.date-input:hover {
    cursor: pointer;
    text-decoration: underline;
}

.date-input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.date-input:hover::-webkit-calendar-picker-indicator {
    opacity: 1;
    cursor: pointer;
}

.weektable {
    margin-top: 15px;
}

.total-activities {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: max(30%, 415px);
    margin-inline: auto;
    place-items: center;
    font-size: 1.45rem;
}

.activity-name {
    font-size: 1.55rem;
}

.bad {
    color: var(--red)
}

.good {
    color: var(--green)
}

.journal {
    height: 40vh;
}

.edit-button {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000; 
    width: 20%;
}