.body-container {
    width: 90%;
    margin-inline: auto;
    margin-top: 100px;
}

.body-container h1 {
    text-align: center;
    font-size: 2.6em;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 2%;
}

.tabs h2 {
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 6px 18px;
}

.tabs h2:hover {
    transform: scale(1.075);
}

.tabs h2.active {
    background-color: #fefefe;
    border-radius: 25px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;
    transform: scale(1.1);
}

.tabs h2.active:hover {
    transform: scale(1.125);
}

.body-container .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.weektable {
    margin-top: 15px;
}

.total-activities {
    background-color: #fafafa;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: max(30%, 415px);
    margin-inline: auto;
    place-items: center;
    font-size: 1.45rem;
}

.activity-name {
    font-size: 1.55rem;
}

.bad {
    color: var(--red)
}

.good {
    color: var(--green)
}

.journal {
    text-align: center;
}