:root {
  --primary: #7FBCD2;
  --secondary: #F5A623;
  --gray-0: #eeeeee;
  --gray-1: #D3D3D3;
  --gray-2: #A9A9A9;
  --gray-3: #505050;
  --gray-4: #333333;
  --button-primary: #1a6cb7;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  color: rgb(17 24 39);
}
