:root {
  --blue-text: #3398db;
  --blue-button: #258CF2;
  --secondary: #f39c12;
  --gray-0: #a9a9a9;
  --gray-1: #505050;
  --dark-blue: #2b3d4f;
  --green: #2ecc70;
  --red: #e74d3c;
  --button-primary: #1a6cb7;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
