.page-container {
    min-height: 100vh;
    background-color:  rgb(243 244 246); 
    display: grid;
    place-items: center;
}

.form-container {
    min-width: 80%;
    margin-inline: auto;
    padding: 50px 0;
}