.form-container{
    margin-top: 1rem;
    margin-inline: auto;
    max-width: 60%;
    min-width: 27%;
}

.form-content{
    background-color: white;
    padding: 2rem 2rem;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
}

.input-fields {
    margin-bottom: 30px;
}