.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    width: 20%;
}

.container h3 {
    margin-bottom: 10px;
}

.container p {
    text-align: center;
}

.links {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.links a {
    border-radius: 12px;
    padding: 6px 10px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: transform 0.3s ease-in-out;
}

.sendagain {
    background-color: #d2f9fe;
}

.sendagain:hover {
    background-color: #b6f6ff;
    transform: scale(1.05);
}

.logout {
    background-color: #ff636385;
}

.logout:hover {
    background-color: #ff2f2f85;
    transform: scale(1.05);
}