.body-container {
    width: 70%;
    margin-inline: auto;
    margin-top: 100px;
}

.body-container h1 {
    text-align: center;
    font-size: 2.6em;
}

.body-container h2 {
    text-align: center;
}

.weeks {
    width: 70%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.week {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    background-color: var(--blue-text);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in-out;

    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.week:hover {
    transform: scale(1.1);
}

.week:hover .hover-box {
    display: block;
}

.add-week {
    background-color: var(--secondary);
    
}

.add-week a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-week img {
    max-width: 80%;
}


.finished {
    background-color: var(--green);
}


.hover-box {
    display: none;
    position: absolute;
    color: black;
    top: calc(100% + 20px);
    padding: 5px;
    border: 4px solid var(--blue-text);
    border-radius: 15px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hover-box::before {
    content: '';
    width: 4px;
    height: 25px;
    background-color: var(--blue-text);
    position: absolute;
    top: -27px;
}

.finished .hover-box::before {
    background-color: var(--green);
}

.hover-box::after {
    content: '';
    width: 100%;
    height: 25px;
    position: absolute;
    top: -27px;
    transform: translateX(-50%);
}

.finished .hover-box {
    border: 4px solid var(--green);
}

.total-activities {
    font-size: 1.2rem;
}

.bad {
    color: var(--red)
}

.good {
    color: var(--green)
}

@keyframes scaleUpDown {
    0%, 100% {
      transform: scale(1); /* Original size */
    }
    50% {
      transform: scale(1.05); /* Scaled up by 50% */
    }
  }