.week-days {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.week-days .day {
    height: 75px;
    width: 75px;
    border-radius: 15%;
    border: 2px solid black;
    background-color: white;
    display: grid;
    place-items: center;
    font-size: 2.5rem;
    transition: transform 0.3s linear;
    cursor: pointer;
}

.week-days .day:hover:not(.current-day){
    transform: scale(1.1);
}

.week-days .current-day {
    background-color: var(--secondary);
    border: none;
    color: white;
    transform: scale(1.15);
}

.week-days .current-day:hover {
    transform: scale(1.2);
}

.table {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    margin-bottom: 100px;
}

.table .table-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-1);
    padding: 0;
}

.table .table-header p {
    color: var(--blue-text);
    font-size: 1.8rem;
    margin-bottom: 15px;
    margin-top: 0;
}


.table .table-body .table-row {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-right: 50px ;
    font-size: 1.2rem;
}

.table .table-body .add-element {
    cursor: pointer;
    color: var(--gray-1);
    margin: 0;
}

.table .table-body .add-element p {
    margin-bottom: 0;
    margin-top: 15px;
}


.input, .dropdown {
    background: none;
    border: none;
    outline: none;
    font-size: 16px; 
    color: black; 
    display: block;  
    padding: 0; 
    margin: 0;
    font-size: 1.25rem;
}

.input {
    text-align: right;
    max-width: 200px;
    display: flex;
    overflow: visible;
}

.input-container {
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: center;
}

.input-container p {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    color: var(--dark-blue);
}

.delete-button {
    visibility: hidden; 
    position: absolute; 
    right: 0; 
}

.table-row:hover .delete-button, .delete-button:hover {
    visibility: visible; 
}

.bad {
    color: var(--red)
}

.good {
    color: var(--green)
}

.modal-form{
    display: flex;
    gap: 10%;
}

.modal-form input{
    font-size: 1.25rem;
}

.modal-form select {
    position: relative;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    max-height: 52px;
    margin-top: 6px;
    padding: 10px 12px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(211, 211, 211, 0.5);
    outline: none;
    background-color: white;
}

.save-button {
    display: flex;
    justify-content: center;
}
